.inputField {
  height: 3rem;
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
}
.searchForm {
  align-self: center;
  text-align: center;
  position: absolute;
  bottom: -3rem;
  z-index: 100;
}
.wrapSearchComponent {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
