.loginBox {
  border-radius: 0.6rem;
  margin: 0 auto;
  width: 60%;
  height: fit-content;
  padding: 3rem;
  background: #00bcd4;
  box-shadow: 0 0.94rem 1.56rem rgba(0, 0, 0, 0.6);
}

.loginBox h2 {
  margin: 0 0 1.8rem;
  padding: 0;
  color: #fff;
  text-align: center;
}
.editDetails {
  text-align: center;
  color: white;
  margin-bottom: 4rem;
  font-size: 3rem;
}
.userBox {
  justify-content: space-between;
  width: 60%;
  display: flex;
  justify-items: start;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.userLabel {
  position: absolute;
  bottom: 4rem;
  left: 0;
  font-size: 1rem;
  color: #fff;
}

.loginLabel {
  font-size: 2rem;
}

.loginInput {
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 1rem;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginBtn {
  background: #000;
  color: white;
  padding: 1rem 1.2rem;
  margin: 3.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 2.5rem;
  cursor: pointer;
  width: 30%;
}

.forgotPass,
.loginNewCust {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 2rem;
  font-weight: 600;
}

.newCustLink {
  color: white;
  font-weight: 600;
  padding-left: 1rem;
}

@media (min-width: 280px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loginBox {
    width: 90%;
    padding: 2rem 0;
  }

  .loginBox h2 {
    margin: 0 0 1.8rem;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  .userBox {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0.5rem;
    width: fit-content;
    flex-direction: column;
  }

  .editDetails {
    font-size: 2rem;
    margin: 2rem;
  }

  .loginLabel {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.5rem 0;
  }
  .loginInput {
    font-size: 1.3rem;
    width: 100%;
    padding: 0.3rem;
  }

  .loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loginBtn {
    padding: 0.5rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    width: 50%;
  }

  .forgotPass,
  .loginNewCust {
    font-size: 1.5rem;
    margin: 0.8rem;
  }
}
@media (min-width: 625px) {
  .userBox {
    width: 90%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  .editDetails {
    font-size: 2.5rem;
    margin: 2.5rem;
  }

  .loginLabel {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
  }
  .loginInput {
    width: 60%;
  }

  .loginBtn {
    padding: 0.5rem;
    margin-top: 3rem;
    font-size: 1.5rem;
  }

  .forgotPass,
  .loginNewCust {
    font-size: 1.5rem;
    margin: 0.8rem;
  }
}
@media (min-width: 800px) {
  .loginBox {
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .userBox {
    width: 90%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  .editDetails {
    font-size: 2.5rem;
    margin: 2.5rem;
  }

  .loginLabel {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
  }
  .loginInput {
    width: 70%;
  }

  .loginBtn {
    margin-top: 3rem;
    font-size: 1.5rem;
    width: 14rem;
  }

  .forgotPass,
  .loginNewCust {
    font-size: 1.5rem;
    margin: 0.8rem;
  }
}
